:root {
  --black: 26, 20, 35;
  --cream: 247, 236, 216;
  --red: 149, 25, 12;
  --pure-white: 255, 255, 255;
  --text: var(--black);
  --bg: var(--cream);
  --accent: var(--red);
  --white: var(--cream);
}

html, body {
    font-size: 18px;
    background-color: rgb(247, 236, 216);
    font-family: Raleway;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: Taviraj;
    font-weight: 500;
}
